<!-- BOOTSTRAP5 NAV-->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top pt-3 pb-3">
    <div class="container">
      <!-- <a class="navbar-brand" href="/">Headless CMS</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          Headless CMS
          <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
           </li>
            <li class="nav-item">
              <a class="nav-link" href="/sample/">Sample Page</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/pageinate/">Pagination</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="/loadmore/">Load More Button</a>
   </li>
       <li class="nav-item">
        <a class="nav-link" href="/loadmore-onscroll/">Load More On Scroll</a>
   </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- BOOTSTRAP5 NAV-->
<!-- BOOTSTRAP4 NAV-->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarToggler7"
        aria-controls="myNavbarToggler7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbarToggler7">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a style="" class="nav-link text-dark" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a style="" class="nav-link text-dark" href="/sample/">Sample Page</a>
            </li>
        </ul>
    </div>
</nav> -->
<!-- BOOTSTRAP4 NAV-->