<div *ngIf="wordpressContent" class="text-center">
    
    <div *ngIf="wordpressContent.acf">
        <div id="" class="dynamic-bg" 
        [ngStyle]="{'background-image': 'url(' + wordpressContent.acf.custom_banner + ')'}">
            <div style="padding-top:150px;">
                <div style="background: #0000003b;;">
                    <h1 class="text-white">{{ wordpressContent.title.rendered }}</h1>
                <div class="text-white" [innerHTML]="wordpressContent.content.rendered"></div>
                </div>
            </div>
        </div>
        <!-- <img [src]="wordpressContent.acf.custom_banner" alt="Featured Image"> -->
        <!-- <h3>Advanced Custom Fields:</h3> -->
        <div class="container mt-5">
            <div [innerHTML]="wordpressContent.acf.custom_label"></div>
        </div>
        
          <!-- <div *ngFor="let field of getACFFields(wordpressContent.acf)">
            <div [innerHTML]="wordpressContent.acf.custom_label"></div>
             {{ wordpressContent.acf.custom_label }}
            {{ field.key }}: {{ field.value }} 
          </div>
         -->
      </div>



  </div>
  
  <div *ngIf="!wordpressContent" class="text-center">
    <p>Loading WordPress content...</p>
  </div>
