<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mt-5 mb-5">
                <h1 class="text-dark" style="font-size:3rem!important;" [innerHTML]='customPosts.title.rendered'></h1>
                <p class="mb-0" style="">{{customPosts.date | date}}</p>
                 <img src="{{customPosts.better_featured_image.source_url}}" style="width:100%" alt=""> 
                <!-- <div *ngFor="let image of posts.images">
                    <img src="{{image.src}}" width="1200" height="800" alt="">
                </div> -->
                <p class="" style="" [innerHTML]='customPosts.content.rendered'></p>   
            </div>
            <div class="col-sm-6 text-center mt-5 mb-5">
                <div *ngIf="customPosts.acf">
                    <h3>Advanced Custom Fields:</h3>
                   
                      <div *ngFor="let field of getACFFields(customPosts.acf)">
                        {{ customPosts.acf.custom_label }}
                        <!-- {{ field.key }}: {{ field.value }} -->
                      </div>
                    
                  </div>
            </div>
            <div class="col-sm-6 text-center mt-5 mb-5">
                <div *ngIf="customPosts._embedded['wp:term']">
                    <h3>Categories:</h3>
                    
                      <div *ngFor="let category of customPosts._embedded['wp:term'][0]">
                        {{ category.name }}
                      </div>
                    
                  </div>
            </div>
        </div>
    </div>
</section>