<section  style="margin-top:100px!important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h1 class="text-dark text-center"  data-aos="zoom-in-down" style="font-size: 4rem;">HEADLESS CMS EXAMPLE</h1>
            </div>
        </div>
    </div>
  </section>

  <!-- PULL DATA FROM WP API START-->

  <section id="" class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5">
                <h2 class="text-center"  data-aos="fade-down" style="font-size: 3rem;">Pulling Posts from WP API</h2>
            </div>
                <div class="uk-child-width-1-3@m" uk-grid>
                    <div *ngFor="let post of posts"  data-aos="flip-up">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top">
                                <img src="{{post.better_featured_image.source_url}}" width="1200" height="800" alt="">
                            </div>
                            <div class="uk-card-body text-left">
                    
                                <p class="mb-0" style="">{{post.date | date}}</p>
                               
                                <h3 class="uk-card-title" routerLink="/blog/{{post.id}}" style="" [innerHTML]='post.title.rendered'></h3>
                                <p class="" style="" [innerHTML]='post.excerpt.rendered'></p>
                                <a routerLink="/blog/{{post.id}}" class="btn btn-primary mt-3" href="#contact">Read</a>
                            </div>
                            
            </div>
        </div>
</div>
        </div>
    </div>
</section>

